# Can add other abbreviations here

snippet eq "begin end equation environment" b
\begin{equation*}
	$0
\end{equation*}
endsnippet

snippet neq "begin end equation environment" b
\begin{equation}
	$0
\end{equation}
endsnippet

snippet be "begin end block" b
\begin{$1}
	$0
\end{$1}
endsnippet

snippet tbf "bold text" i
\textbf{$1}$0
endsnippet

snippet tit "italic text" i
\textit{$1}$0
endsnippet
