snippet $$ "$$ block" bA
$$
$1
$$
endsnippet

snippet "p?url" "" r
[$1](`wl-paste`)
endsnippet

snippet pzsh "zsh paste command block" bA
\`\`\`zsh
`wl-paste`$0\`\`\`
endsnippet

snippet [n "add note linadd new file" 
[$2](~/documents/notes/$1)$0
endsnippet

snippet ``` "" 
\`\`\`$1
$0
\`\`\`
endsnippet

snippet h1 "heading" bA
#							 $0
endsnippet


snippet h2 "heading" bA
##							 $0
endsnippet

snippet h3 "heading" bA
###							 $0
endsnippet

snippet [ "heading" bA
- [ ] $0
endsnippet


